// Layout

main {
  width: $site-width;
  display: flex;
  align-items: stretch;
  margin: 0 auto;
}

article {
  max-width: 560px;
  margin: 0 auto;
}

main article { margin: 0; }


// ———————————————— Header ———————————————— //

header {
  max-width: $site-width;
  height: 96px;
  border-bottom: 1px solid $graphite-light80;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 32px;

  a {
    font-size: 12px;
    font-weight: 600;
    color: $graphite-dark72;
    text-transform: uppercase;

    &:hover { color: #000; }
  }

  a:first-child { margin-right: auto; } 
  a:last-child { margin-left: auto; } 
}


// ———————————————— Navigation ———————————————— //

.nav {
	max-width: $site-width;
	height: 64px;
	display: flex;
	align-items: center;
  justify-content: center;
  margin: 32px auto 64px;
  border-bottom: 1px solid $graphite-light80;

  a {
  	display: flex;
  	align-items: center;
  	padding: 0 16px;
  	height: 64px;
    border-bottom: 1px solid rgba(0,0,0,0);
  }

  .active {	border-bottom: 1px solid $blue; }
}

.sub {
  width: 200px;
  margin-right: 80px;

  a {
    display: block;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid $graphite-light80;

    &:last-child { border-bottom: 0; }
  }

  .active { border-bottom: 1px solid $blue !important; }

}


// ———————————————— Footer ———————————————— //

footer {
	max-width: $site-width;
  height: 160px;
  padding-top: 48px;
  text-align: center;
  border-top: 1px solid $graphite-light80;
  margin: 160px auto 0;
  font-size: 12px;
  font-weight: 600;
}