// Layout

main {
  max-width: $site-width;
  display: flex;
  align-items: stretch;
  margin: 0 auto;

  @media screen and (max-width: $break) {
    display: inherit;
  }
}

article {
  max-width: 560px;
  margin: 0 auto;
}

main article { margin: 0; }


// ———————————————— Header ———————————————— //

header {
  max-width: $site-width;
  height: 96px;
  border-bottom: 1px solid $graphite-light80;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 32px;

  a {
    font-size: 12px;
    font-weight: 600;
    color: $graphite-dark72;
    text-transform: uppercase;

    &:hover { color: #000; }
  }

  a:first-child { margin-right: auto; } 
  a:last-child { margin-left: auto; } 
}


// ———————————————— Navigation ———————————————— //

.nav {
  max-width: $site-width;
  height: 64px;
  margin: 32px auto 64px;
  box-shadow: inset 0 -1px 0 $graphite-light80;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  @media screen and (max-width: $break) {
    justify-content: inherit;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }

  a {
    display: flex;
    align-items: center;
    height: 64px;
    padding: 0 16px;
    white-space: nowrap;
  }
  @media screen and (max-width: $break) {
    :first-child { margin-left: 24px; }
    :last-child { margin-right: 24px; }
    }

  .active { border-bottom: 1px solid $blue; }
}

.sub {
  width: 200px;
  margin-right: 80px;

  @media screen and (max-width: $break) {
    width: 100%;
    margin: 0 0 64px;
    text-align: center;
  }

  a {
    display: block;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid $graphite-light80;

    &:last-child { border-bottom: 0; }
  }

  .active { border-bottom: 1px solid $blue !important; }

}


// ———————————————— Footer ———————————————— //

footer {
  width: calc(100vw - 48px);
  position: absolute;
  bottom: 0;
  text-align: center;

  div {
    max-width: $site-width;
    height: $footer-height;
    line-height: $footer-height;
    border-top: 1px solid $graphite-light80;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 600;
  }
}
