// Typography

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  padding: 32px 16px;
}

h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 300;

  &:first-child { margin-top: 0; font-weight: 600; }
}

h3 {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

h4, h5, h6 {
  margin-top: 2rem;
  font-size: 1rem;
}

strong, b { font-weight: 600; }

p {
  margin-top: 0;
  margin-bottom: 1rem;

  &.lead {
    font-size: 2rem;
    font-weight: 300;
    color: $graphite;
  }

  &.dark { color: $graphite-dark72; }
}

ul, ol, dl {
  margin: 0 0 1rem;
  padding: 0;
}

li {
  list-style-image: url("public/bullet.svg");
  margin-bottom: .5rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid $graphite-light80;
  border-bottom: 0;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: $graphite-light80;
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-bottom: 1px dotted $graphite-light80;
  }
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  border-left: .25rem solid $graphite-light80;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 30em) {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}


// Markdown footnotes
//
// See the example content post for an example.

// Footnote number within body text
a[href^="#fn:"],
// Back to footnote link
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1rem;
  font-weight: bold;
}

// List of footnotes
.footnotes {
  margin-top: 2rem;
  font-size: 85%;
}
