// Typography

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  padding: 32px 16px;
}

h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 600;

  &:first-child {
    margin-top: 0;
  }
}

h3 {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
}

h4 {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

strong,
b {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;

  &.lead {
    font-size: 2rem;
    font-weight: 300;
    color: $gray-d24;
  }

  &.dark {
    color: $gray-d72;
  }

  &.error {
    margin: 160px 0 80px;
    text-align: center;
  }
}

ul,
ol,
dl {
  margin: 0 0 1rem;
  padding: 0;
}

li {
  list-style-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="2" fill="#BAC8D1" fill-rule="evenodd"/></svg>');
  margin-bottom: 0.5rem;
}

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid $gray-l24;
  border-bottom: 0;
}

blockquote {
  padding: 0 0 0 12px;
  margin: 1rem 0 1rem -14px;
  border-left: 2px solid $gray-l24;
  color: $gray-d24;
}
