// Typography

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  padding: 32px 16px;
}

h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 600;

  &:first-child { margin-top: 0; }
}

h3 {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
}

h4 {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

strong, b { font-weight: 600; }

p {
  margin-top: 0;
  margin-bottom: 1rem;

  &.lead {
    font-size: 2rem;
    font-weight: 300;
    color: $graphite;
  }

  &.dark { color: $graphite-dark; }

  &.error {
    margin: 160px 0 80px;
    text-align: center;
  }
}

ul, ol, dl {
  margin: 0 0 1rem;
  padding: 0;
}

li {
  list-style-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="2" fill="#8D989F" fill-rule="evenodd"/></svg>');
  margin-bottom: .5rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid $graphite-light;
  border-bottom: 0;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: $graphite-light;
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-bottom: 1px dotted $graphite-light;
  }
}

blockquote {
  padding: 0 0 0 12px;
  margin: 1rem 0 1rem -14px;
  border-left: 2px solid $graphite-light;  
}


// Markdown footnotes
//
// See the example content post for an example.

// Footnote number within body text
a[href^="#fn:"],
// Back to footnote link
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1rem;
  font-weight: bold;
}

// List of footnotes
.footnotes {
  margin-top: 2rem;
  font-size: 85%;
}
