$root-font-family: -apple-system, BlinkMacSystemFont, sans-serif;
$root-font-size: 16px;
$root-line-height: 1.5;


$graphite: 			#8d989f;
$graphite-dark72: 	#000;
$graphite-light80: 	#272a2c;
$blue: 				#2391d3;


$body-color: $graphite-dark72;
$body-bg: #fff;
$link-color: $blue;
$border-color: $graphite-light80;

$large-breakpoint: 38em;
$large-font-size: 16px;
