// Content

.wide {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  display: flex;
  align-items: center;
  justify-content: center;

  & img { margin: 56px auto;
    @media screen and (max-width: $break) {
      width: 100%;
    }
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 64px;
  font-size: 12px;
  font-weight: 600;

  a { margin: 0 8px; }
}

// ———————————————— Colors ———————————————— //

.color {
  height: 240px;
  font-weight: 600;
  color: #fff;
  border-bottom: 1px solid #fff;
}

  .graphite { background: $graphite; margin-top: 56px; }
  .blue     { background: $blue; }
  .green    { background: $green; }
  .yellow   { background: $yellow; }
  .red      { background: $red; }
  .orange   { background: $orange; }
  .pink     { background: $pink; }
  .purple   { background: $purple; margin-bottom: 56px; }


  .values {
    width: 560px;
    height: 200px;
    margin: 0 auto;
    padding: 24px 0;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;

    @media screen and (max-width: $break) {
      margin: 0 24px;
    }

    span:nth-child(1) { width: 100% }

    span:nth-child(1n+2) { font-size: 12px; width: 25%; text-align:left;
      @media screen and (max-width: $break) {
        width: 100%;
      }
    }
  }

.colorshading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.oval {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $orange;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  margin: 64px 8px;
  font-weight: 600;
  color: #fff;

  // Darkening "shade" function function
  @function shade($color, $percent){
    @return mix(black, $color, $percent);
  }

  &:nth-child(1) { background: rgba($orange, .24) }
  &:nth-child(2) { background: rgba($orange, .48) }
  &:nth-child(3) { background: rgba($orange, .72) }

  &:nth-child(5) { background: shade($orange, 24%) }
  &:nth-child(6) { background: shade($orange, 48%) }
  &:nth-child(7) { background: shade($orange, 72%) }

  @media screen and (max-width: $break) {
    width: 32px;
    height: 32px;
    margin: 48px 2px;
    font-size: 10px;
  }
}

  .zero { 
    width: 120px;
    height: 120px;
    @media screen and (max-width: $break) {
      width: 48px;
      height: 48px;
    }
  }


// ———————————————— Logo ———————————————— //

.rules {
  column-count: 2;
  column-gap: 40px;
  margin: 16px 0 32px;
  @media screen and (max-width: $break) {
    column-count: 1;
  }
}

.rules li {
  list-style-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="2" fill="#FB0807" fill-rule="evenodd"/></svg>');
  padding: 4px 0;
}


