// Content

.wide {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    margin: 56px auto;
    @media screen and (max-width: $break) {
      width: 100%;
    }
  }
}

.ascontent {
  padding: 0 $site-padding;
}

.showcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: $site-width;
  margin: 80px 0 40px;
  outline: 1px solid $gray-l24;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.inline {
  width: 100%;
  margin: 48px 0 56px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 64px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;

  a {
    margin: 0 8px;
  }
}

// ———————————————— Logo ———————————————— //

.logo {
  height: 400px;

  svg {
    width: 400px;
    height: 400px;

    @media screen and (max-width: $break) {
      width: 240px;
      height: 240px;
    }
  }
}

.rules {
  column-count: 2;
  column-gap: 40px;
  margin: 16px 0 32px;

  @media screen and (max-width: $break) {
    column-count: 1;
  }
}

.rules li {
  list-style-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="2" fill="#FB0807" fill-rule="evenodd"/></svg>');
  padding: 4px 0;
}

.logo-colors {
  div {
    width: calc(100% / 2);
    height: 240px;

    @media screen and (max-width: $break) {
      width: 100%;
    }

    &:nth-child(1) {
      background: $white;
      .wire {
        fill: $black;
      }
    }

    &:nth-child(2) {
      background: $black;
      .wire {
        fill: $white;
      }
    }

    &:nth-child(3) {
      background: $blue-light;
      .wire {
        fill: $white;
      }
    }

    &:nth-child(4) {
      background: $white;
      .wire {
        fill: $green-light;
      }
    }
  }
}

// ———————————————— Symbol ———————————————— //

.symbol {
  height: 400px;

  svg {
    width: 200px;
    height: 200px;
  }
}

.symbol-shapes {
  outline: 0;

  div {
    width: 192px;
    height: 192px;
    border: 1px solid rgba($gray, 0.32);
    margin: 0 24px 64px;

    &:nth-child(1) {
      border-radius: 44px;
    }
    &:nth-child(2) {
      border-radius: 50%;
    }
  }
}

.symbol-colors {
  div {
    width: calc(100% / 3);
    height: 200px;

    @media screen and (max-width: $break) {
      width: 100%;
    }

    &:nth-child(1) {
      background: $black;
      .w {
        fill: $white;
      }
    }

    &:nth-child(2) {
      background: $yellow-light;
      .w {
        fill: $black;
      }
    }

    &:nth-child(3) {
      background: $white;
      .w {
        fill: $blue-light;
      }
    }

    &:nth-child(4) {
      background: $white;
      .w {
        fill: $dark-gray;
      }
    }

    &:nth-child(5) {
      background: $purple-light;
      .w {
        fill: $white;
      }
    }

    &:nth-child(6) {
      background: $dark-gray;
      .w {
        fill: $yellow-light;
      }
    }
  }
}
