// Header

header {
  max-width: 840px;
  height: 96px;
  border-bottom: 1px solid $graphite-light80;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 64px;

  a {
    font-size: 12px;
    font-weight: 600;
    color: $graphite-dark72;
    text-transform: uppercase;
  }

  a:first-child { margin-right: auto; } 
  a:last-child { margin-left: auto; } 
}
