---
layout: default
title: Symbol
weight: 2
---

<p>
  The Wire symbol is a standalone glyph derived from the logo lettering. It
  should be used as an icon to indicate Wire apps, preferably with the full
  product name added in text. The symbol can also be used on its own if space is
  tight and the logo needs to be shortened or presented in a compact way.
</p>

<div class="wide ascontent">
  <div class="showcase symbol">{% include w.svg %}</div>
</div>

<div class="links">
  <a href="{{ site.baseurl }}/public/Wire symbol.pdf">PDF ↓</a>
  <a href="{{ site.baseurl }}/public/Wire symbol.svg">SVG ↓</a>
  <a href="{{ site.baseurl }}/public/Wire symbol.png">PNG ↓</a>
  <a href="{{ site.baseurl }}/public/Wire symbol.jpg">JPG ↓</a>
</div>

<p>Like the logo, you should never misuse the symbol.</p>

<ul class="rules">
  <li>Don’t bend or twist</li>
  <li>Don’t distort or stretch</li>
  <li>Don’t rotate or tilt</li>
  <li>Don’t use on a photo</li>
  <li>Don’t use in multiple colors</li>
  <li>Don’t apply effects</li>
</ul>

<p>
  The Wire symbol can either be used as a freestanding element or within a
  surrounding shape. This approach can be used to create icon variants for
  different software platforms or app stores. When placing the symbol inside a
  shape, you should adhere to platform design guidelines.
</p>

<div class="wide">
  <div class="showcase symbol-shapes">
    <div>{% include w.svg %}</div>
    <div>{% include w.svg %}</div>
    <div>{% include w.svg %}</div>
  </div>
</div>

<p>
  Whether the symbol appears as a standalone element or in a shape, it’s best to
  use it in black or white. If you need a colored version, pick one of the Wire
  <a href="../color">palette colors</a>.
</p>

<div class="wide">
  <div class="showcase symbol-colors">
    <div>{% include w.svg %}</div>
    <div>{% include w.svg %}</div>
    <div>{% include w.svg %}</div>
    <div>{% include w.svg %}</div>
    <div>{% include w.svg %}</div>
    <div>{% include w.svg %}</div>
  </div>
</div>
