---
layout: default
title: Symbol
weight: 2
---

<p>Wire symbol is standalone glyph derived from the logo lettering. It should be used as an icon to indicate Wire apps, preferrably with the full product name added in text. Additionally, the symbol can be used on its own if there is shortage of space and logo needs to be shortened or presented in a compact way.</p>

<div class="wide">
  <div class="showcase symbol">
    {% include w.svg %}
  </div>
</div>

<div class="links">
  <a href="{{ site.baseurl }}/public/Wire symbol.pdf">PDF ↓</a>
  <a href="{{ site.baseurl }}/public/Wire symbol.svg">SVG ↓</a>
  <a href="{{ site.baseurl }}/public/Wire symbol.png">PNG ↓</a>
  <a href="{{ site.baseurl }}/public/Wire symbol.jpg">JPG ↓</a>
</div>

<p>Similarly to the logo, you should never misuse the symbol.</p>

<ul class="rules">
  <li>Don’t bend or twist</li>
  <li>Don’t distort or stretch</li>
  <li>Don’t rotate or tilt</li>
  <li>Don’t use on a photo</li>
  <li>Don’t use in multiple colors</li>
  <li>Don’t apply effects</li>
</ul>

<p>Wire symbol can be used as a freestanding element or within a surround. A common case for that is different shapes of app icons on software platforms or app stores. When placing the symbol inside a shape, you should adhere to platform design guidelines.</p>

<div class="wide">
  <img src="{{ site.baseurl }}/public/symbol-surround.svg" width="840">
</div>

<p>Regardless if the symbol is used as a standalone element or within a surrounding shape, it is recommended to use it simply in black or white. If it is necessary to use colored version, pick any of Wire <a href="../colors/index.html">palette colors</a>.</p>

<div class="wide">
  <div class="showcase symbol-colors">
    <div>{% include w.svg %}</div>
    <div>{% include w.svg %}</div>
    <div>{% include w.svg %}</div>
    <div>{% include w.svg %}</div>
    <div>{% include w.svg %}</div>
    <div>{% include w.svg %}</div>
  </div>
</div>

